@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@100;200&display=swap');
.font-poppins-light {
    font-family: "Poppins";
    font-weight: 100;
}
.font-poppins-thin {
    font-family: "Poppins";
    font-weight: 200;
}
.font-open-regular {
    font-family: "Open Sans";
    font-weight: 400;
}
.font-open-semibold {
    font-family: "Open Sans";
    font-weight: 600;
}
.green-bluegrad {
    background: linear-gradient(90deg, #31E70D, #1E40AF);
}
